<div>
  <h2 class="question">I have...</h2>
</div>
<div class="links_centered">
  <%= button_to "No CS experience", { action: "create" }, :name => 'noexperience', :class => 'button_shared'  %>
  <%= button_to "Some experience (hackathons/summer research)", { action: "create" }, :name => 'someexperience', :class => 'button_shared'   %>
  <%= button_to "At least one internship", { action: "create" }, :name => 'internship', :class => 'button_shared'  %>
</div>

<div class="center"><span class="page_count">2/3</span></div>