<div class="header">
  <h1 id="site_name">Internship.Dev</h1>
  <p id="short_desc">Your step-by-step guide to finding a CS internship</p>

</div>

<div class="questions">
  <%= button_to "Start", { action: "new" },  id: "start" %>
</div>