<div class="timeline">
  <% @user.steps.each do |element| %>
    <div class ="step_main"><input type="checkbox">
      <%= element.content %>
    </div>
    <a data-js-hide-link="true" href="" class="hide">more</a>
    <div class="hidden">
    <%= simple_format element.extra %>
    </div>
  <% end %>
</div>
