<div class="timeline">
  <% @user.steps.each do |element| %>
    <div class ="step_main">
      <%= element.content %>
    </div>
    <div class="step_extra">
     <%= element.extra %>
    </div>
  <% end %>
</div>
