<div>
  <h2 class="question">I want to...</h2>
</div>
<div class="answers">
  <%= button_to "work at Google", { action: "create" }, :name => 'google' %>
  <%= button_to "find a local job", { action: "create" }, :name => 'localjob'  %>
  <%= button_to "find an internship", { action: "create" }, :name => 'internship' %>
  <%= button_to "not sure yet but I still want help", { action: "create" }, :name => 'idk' %>
</div>
<div class="center"><span class="page_count">3/3</span></div>
<br>
<br>
<br>