// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question {
    text-align: center;
    font-family: Alegreya;
    font-size: 40px;
  }
  
  .page_count {
    font-family: Alegreya;
    font-size: 30px;
    border-radius: 10px;
  }
  
  .center {
    margin: 0 auto;
    width: 50px;
    margin-top: 50px;
  }