// Place all the styles related to the Timeline controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: "Alegreya";
  src: font-url('Alegreya.ttf')
}

#more {
  text-align: center;
}

#learnMore {
  font-family: Alegreya;
  font-size: 30px;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: 2px solid rgb(247,189,2);
  text-decoration: none;
  padding: 0.1em;
}

#learnMore:hover {
  background-color: rgb(247,189,2);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: white;
}

.step_main {
  font-family: Alegreya;
  font-size: 30px;
  width: 36em;
  margin:0 auto;
  max-width: 100%;
  line-height: 1.5;
}

#image_begin {  
  max-width:100%;
  height:auto;
  max-height:100%;
  display:inline-block;
  margin-top: 3px;
}

#imageset {
  display:flex;
}

#imageset div {
  flex:1;
  margin:15px; 
}

.squareimage {
  width:100%;
}

article {
  font-family: Alegreya;
  font-size: 20px;
  width: 36em;
  margin:0 auto;
  max-width: 100%;
  line-height: 1.5;
}

@media only screen and (max-width: 320px) {
  article {
    font-size: 16px;
  }
}
