// Place all the styles related to the Timeline controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: "Alegreya";
  src: font-url('Alegreya.ttf')
}

.step_main {
  font-family: Alegreya;
  font-size: 30px;
  margin-left: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.step_extra {
  font-family: Alegreya;
  font-size: 20px;
  margin-left: 100px;  
  margin-right: 100px;
}

.hidden {
  display: none; 
}

.hide {
  font-family: Alegreya;
  font-size: 20px;
  margin-left: 100px;
}
