// Place all the styles related to the Timeline controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: "Alegreya";
  src: font-url('Alegreya.ttf')
}

#more {
  text-align: center;
}

#moreLink {
  font-family: Alegreya;
  font-size: 30px;
  width: 36em;
  margin:0 auto;
  max-width: 100%;
  line-height: 1.5;
}

#image_begin {  
  max-width:100%;
  height:auto;
  max-height:100%;
  display:inline-block;
  margin-top: 3px;
}

#imageset {
  display:flex;
}

#imageset div {
  flex:1;
  margin:15px; 
}

.squareimage {
  width:100%;
}

article {
  font-family: Alegreya;
  font-size: 20px;
  width: 36em;
  margin:0 auto;
  max-width: 100%;
  line-height: 1.5;
}

@media only screen and (max-width: 320px) {
  article {
    font-size: 16px;
  }
<<<<<<< HEAD
}

img {
  max-width:100%;
  height:auto;
  max-height:100%;
  display:inline-block;
  margin-top: 3px;
=======
>>>>>>> 8668f57f99e72c11ff6d9bdcbb259ef7dab0c954
}
